In [1]:
import pandas as pd
import numpy as np
import numpy.linalg as LA

In [2]:
df = pd.read_csv('../data/exercise_3.csv', index_col=0)
df

    x1  x2
i
1   -3  -6
2   -2  -4
3   -3  -2
4    0  -4
5   -1  -2
6    1   2
7    0   4
8    3   2
9    2   4
10   3   6

In [3]:
cov = df.T@df/len(df)
cov,  np.cov(df, rowvar=0, bias=1)

(     x1    x2
 x1  4.6   6.8
 x2  6.8  15.2,
 array([[ 4.6,  6.8],
        [ 6.8, 15.2]]))

In [4]:
w, v = LA.eig(cov)
for w_, v_ in zip(w, v.T):
    print('eign value: {} for vec{}'.format(w_, v_))

eign value: 1.2785152090837606 for vec[-0.89853862  0.43889446]
eign value: 18.521484790916237 for vec[-0.43889446 -0.89853862]

In [6]:
mainv = np.array([1, 0])
for i in range(10):
    arr_f = np.array(df@mainv)
    arr_ff = np.array([val**2 for val in arr_f])
    arr_fx1 = np.array([f*x1 for f, x1 in zip(arr_f, df['x1'])])
    arr_fx2 = np.array([f*x2 for f, x2 in zip(arr_f, df['x2'])])
    mainv = np.array([arr_fx1.sum()/arr_ff.sum(), arr_fx2.sum()/arr_ff.sum()])
    mainv /= np.sqrt(np.sum([val**2 for val in mainv]))
    print(mainv)
#     break

[0.56030937 0.82828341]
[0.4476386  0.89421456]
[0.43949943 0.89824287]
[0.43893623 0.89851822]
[0.43889735 0.89853721]
[0.43889466 0.89853852]
[0.43889448 0.89853861]
[0.43889447 0.89853862]
[0.43889446 0.89853862]
[0.43889446 0.89853862]