In [5]:
!ls ../

data   pynb   課題   資料

In [1]:
import numpy as np
import pandas as pd

In [7]:
df_train = pd.read_csv('../data/Iris_training.csv')
df_test = pd.read_csv('../data/Iris_test.csv')

In [8]:
df_train

    y_i  x_i1  x_i2  x_i3  x_i4  x_i5          specie
0     0   5.1   3.5   1.4   0.2     1     Iris-setosa
1     0   4.9   3.0   1.4   0.2     1     Iris-setosa
2     0   4.7   3.2   1.3   0.2     1     Iris-setosa
3     0   4.6   3.1   1.5   0.2     1     Iris-setosa
4     0   5.0   3.6   1.4   0.2     1     Iris-setosa
..  ...   ...   ...   ...   ...   ...             ...
85    1   7.2   3.2   6.0   1.8     1  Iris-virginica
86    1   6.2   2.8   4.8   1.8     1  Iris-virginica
87    1   6.1   3.0   4.9   1.8     1  Iris-virginica
88    1   6.4   2.8   5.6   2.1     1  Iris-virginica
89    1   7.2   3.0   5.8   1.6     1  Iris-virginica

[90 rows x 7 columns]

In [20]:
X_train = np.array(df_train.iloc[:, 1:6])
y_train = np.array(df_train.iloc[:, 0])
X_test = np.array(df_test.iloc[:, 1:6])
y_test = np.array(df_test.iloc[:, 0])
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(90, 5) (60, 5) (90,) (60,)

In [21]:
a_conv = np.array([-0.193, 0.278, 0.144, 0.385, -0.386])
a_irls = np.array([-0.260, 0.353, 0.184, 0.375, -0.346])

In [28]:
y_pred_train_conv = a_conv @ X_train.T
y_pred_test_conv = a_conv @ X_test.T

y_pred_train_irls = a_irls @ X_train.T
y_pred_test_irls = a_irls @ X_test.T

In [42]:
print('train_conv: ', np.sum([tf1 == tf2 for tf1, tf2 in zip(y_pred_train_conv > 0.5, y_train==1)])/len(y_train))
print('test_conv: ', np.sum([tf1 == tf2 for tf1, tf2 in zip(y_pred_test_conv > 0.5 , y_test==1)])/len(y_test))

print('train_irls: ', np.sum([tf1 == tf2 for tf1, tf2 in zip(y_pred_train_irls > 0.5, y_train==1)])/len(y_train))
print('test_irls: ', np.sum([tf1 == tf2 for tf1, tf2 in zip(y_pred_test_irls > 0.5 , y_test==1)])/len(y_test))

train_conv:  0.9444444444444444
test_conv:  0.9333333333333333
train_irls:  0.9111111111111111
test_irls:  0.95